body * {
	font-family: Helvetica, 'Nokia Sans', Arial, Sans-serif;

}
.ui-page {
	-webkit-user-select: none;
	.symbol {
		-webkit-user-select: initial;
	}
}
.ui-page .ui-content {
	padding: 5px;
}
.positive {
	color: green;
}

.negative {
	color: red;
}

.stock-stalker {
	.ui-content {
		/*padding: 0 0 30px 0;*/
	}
}

#Dashboard {

	.headlines .ui-listview {
		margin: 0px;
	}
}

table  {
	th {
		text-align: center;
		padding: 3px;
	}
	td .ui-btn {
		margin: 0;
	}

}
table {
	td:not(.symbol) {
		text-align: right;
	}

	td {
		overflow: hidden;
		min-width: 50px;
		white-space: nowrap;
	}

	td.label , td.left{
		text-align: left;
	}
	td.value, td.right {
		text-align: right;
	}
}

table.full-width {
	width: 100%;
}

table.draw-border {
	border-spacing: 0px;
	td {
		padding: 10px 0px;
		border-bottom: 1px solid rgba(0,0,0,0.2);
	}
}

.ui-page {
	padding-top: 45px !important;
}

.nav-panel {
	.ui-btn-icon-right:after {
		display: none;
	}

	&.authed .login {
		display: none;
	}
	&:not(.authed) .logout {
		display: none;
	}
}
.headlines .ui-listview {
	margin: 1em -1em;
}
#ViewNews, #ViewStock {
	.ui-content {
		padding: 0;
	}
}
.headlines {
	ul {
		padding: 0;
		margin: 0;
		li {
			display: block;
			padding: 10px;
			border-bottom: 1px solid rgba(0, 0, 0, 0.2);
			a {
				color: black !important;
				font-style: normal;
				font-weight: normal;
				text-decoration: initial;
				font-size: 12px;
			}
			.description {
				max-height: 3.8em;
				overflow-y: hidden;
			}
			.title {
				font-size: 15px;
			}
			.inline-quote {
				.change {
					padding: 0 5px;
				}
			}
		}
	}
}
[data-action]:hover, [data-action]:hover td {
	background-color : #DDDDDD;
}

#Login {
	max-width: 260px;
}
[data-role="popup"] .container {
	text-align: center;
	padding: 10px 20px;
}
.scroll-container {
	display: block;
	overflow-x: hidden;
	overflow-y: visible;
	margin: 1em 0;
}
.fixed-column-container {
	display: block;
	overflow-x: hidden;
	margin-left: 4em;
	overflow-y: visible;

	table {
		td:not(.headcol) {
			padding: 10px 5px;
			min-width: 4em;
		}
		td {
			text-align: left;
		}
		td:not(.symbol) {
			text-align: right;
		}
		.headcol {
			position:absolute;
			width: 4em;
			left:0;
			top:auto;
			overflow: hidden;
			white-space: nowrap;
		}
	}
}

#Watchlist {

}
.h1 {
	font-size: xx-large;
}
.h2 {
	font-size: x-large;
}
#ViewStock {
	.quote-summary {
		padding: 1em 5px;
		td:not(:last-child) {
			padding-right: 10px;
		}
	}
	.quote-details {
		font-size: 12px;
	}
	.quote {

		.label {
			display: block;
		}
		.changes {
			font-size: small;
			margin-top: 5px;
			.change {
				display: inline-block;
				padding-right: 10px;

			}
			.change:not(:last-child) {
				border-right: 1px solid rgba(0,0,0,0.2);
			}
			.change:not(:first-child) {
				padding-left: 10px;
			}
		}
	}
}

.news-item {
	.publisher, .pubDate {
		color: rgba(0,0,0,0.4);
		padding-right : 15px;
		font-size: small;
	}
	.inline-quote {
		padding-right: 5px;
		.change {
			padding-left : 5px;
		}
	}
	.inline-quote:not(:first-child) {
		border-left: 1px solid rgba(0,0,0,0.2);
		padding-left: 5px;
	}
}
#ViewNewsArticle {
	.title {
		font-size : x-large;
	}

}

.xx-large-title {
	font-size: xx-large;
	padding: 10px 0;
}
.x-large-title {
	font-size: x-large;
	padding: 5px 0;
}
#ViewPort {
	.port_summary {

		.item {
			padding: 3px 0;
			.label {
				display: inline-block;
				min-width: 90px;
			}
		}
	}
}

#footer {
	white-space: nowrap;
	.ui-btn {
		width: 20%;
		background-color: transparent;
		padding-left: 0;
		padding-right: 0;
		margin: 0;
		padding-bottom: 5px;
		padding-top: 2.5em;
		font-weight: normal;
		font-size: 12px;

		&.ui-btn-icon-top:after {
			top: .2em;
		}
	}
}

.my_stocks {
	position: relative;
}
.section {
	padding: 10px 0;
}

.my_portfolios {
	.heading {
		font-size: x-large;
		padding: 0 0 15px 0;
	}
}
.summary-list-container {
	padding: 10px 0;
	> .headline {
		font-size: medium;
		font-weight: bold;
		margin: 10px 0 15px 0;
	}
	.summary-list-layout {
		position: relative;
		border-top: 1px solid #DDD;
		padding: 0 0 8px 0;
		.row {
			text-align: right;
			text-shadow: none;
			font-size: medium;
			&:first-child > span {
				padding-top: 3px;
				padding-bottom: 3px;
			}
		}
		.left {
			position: absolute;
			left: 0;
			text-align: left;
		}
		.name {
			display: block;
			max-width: 13em;
			white-space: nowrap;
			overflow: hidden;
		}
		.subtitle {
			max-width: 14em;
			overflow: hidden;
			white-space: nowrap;
		}
		.change-box {
			background-color: green;
			color: white;

			&.negative {
				background-color: red;
			}
			&.neutral {
				background-color: rgba(0,0,0,.8);
			}
		}
		.small {
			font-size: small;
		}
		.right-col {
			min-width: 65px;
			display: inline-block;
			padding-right: 10px;
		}

		.mid-col, .right-col {
			text-align: right;
		}
		.mid-col {
			min-width: 100px;
			padding-right: 10px;
			display: inline-block;
		}
		.col-name {
			position: absolute;
			right: 0;
			top: -16px;
			font-size: x-small;
			min-width: 75px;
			text-align: center;
		}
		.mid-col-name {
			position: absolute;
			right: 75px;
			top: -16px;
			font-size: x-small;
			min-width: 100px;
			text-align: right;
			padding-right: 10px;
		}
		.left-btn, .right-btn {
			position: absolute;
			top: 5px;
		}
		.left-btn {
			right: 60px;
		}
		.right-btn {
			right: 10px;
		}
	}

	&:not(.show-btn) {
		.left-btn, .right-btn {
			display: none;
		}
	}
	&:not(.show-alt) .alt2 {
		display: none;
	}
	&.show-alt .alt1{
		display: none;
	}
}
#ImportLotsTool {
  	.import-json {
	  max-height: 150px;
	}
	.matched {
	  	padding-bottom : 20px;
	  	.matched-port {
			font-weight : bold;
	  	}
	  	.matched-port {
			padding: 15px 0;
	  	}
	}
}

.stock-quote-block {
	display: inline-block;
	width: 25%;
	label {
		display: block;
		font-weight: bold;
		margin: 0;
	}
	.price, .change {
		display: block;
	}
}

.hidden {
	display: none !important;
}