body * {	
    font-family: Helvetica, 'Nokia Sans', Arial, Sans-serif;
}
body {
    -webkit-text-size-adjust: none;
	background-color: #C5CCD4;
	height: 100%;
}
.hidden {
	display: none;
}
.content_block {	
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	background-color: white;
	border: 1px solid #A9B0B8;
	padding: 0 0 5px 0;
}

#tabContents .group_title {
	cursor: pointer;
}
/*
.group_content td {
	background-color: #eaeaea;
}
*/
table {
    border: 0 none;
    width: 100%;
}

.tabLinks {
    width: 100%;
	font-size: 150%;
	font-weight: bold;
	white-space: nowrap;
	-moz-border-radius: 8px 8px 0 0;
	-webkit-border-radius: 8px 8px 0 0;
}
.tabLinks .tabLink {
    width: 33%;	
	padding: 0;
    color: #000000;
    font-size: 75%;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
	display: inline-block;
	border-bottom: 1px solid #B7C1C8;
}
.tabLinks .tabLink:last-child {
    width: 34%;	
}
	
.tabLinks .tabLink a {
	border-left: 1px solid #B7C1C8;
}
.tabLinks .first a {
	border-style: none;
}
.tabLinks .first {
	-moz-border-radius: 8px 0 0 0;
	-webkit-border-radius: 8px 0 0 0;
}

.tabLinks .last {
	-moz-border-radius: 0 8px 0 0;
	-webkit-border-radius: 0 8px 0 0;
}
.tabLinks .tabLink {
	/*border-style: solid solid none solid;	
	border-width: 1px;
	-moz-border-radius: 8px 8px 0 0;
	-webkit-border-radius: 8px 8px 0 0;*/
}
.tabLinks .active {
	background: #ccc;
	background: -webkit-gradient(linear, left top, left bottom, from(#B7C1C8), to(#fff));
	background: -moz-linear-gradient(top, #B7C1C8, #fff);
	color: white;
}

td {
	padding: 8px 3px;
	border: 0px outset gray;
/*	border-bottom: 1px outset #DFDFDF;
	background-color: white;*/
	border-collapse: collapse;
}

.tabLinks .tabLink a {
    color: #16387C;
    display: block;
    margin-right: 0;
    padding: 8px 0;
    width: 100%;
}

.tabLinks .active {
    /*background: none repeat scroll 0 0 #FFFFFF;*/
    border-bottom-color: #FFFFFF;
    color: #000000;
}

.tabLinks .tabLink, .tabLinks .tabLink a {
    color: #16387C;
    cursor: pointer;
}


#Summary {
	padding: 8px 5px;
	position: relative;
}

.group_title td {
	padding: 15px 3px;
}

span.refresh {
}
.positive, .info {
	color: #0A791E;
}
.symbol, .shares {
	color: black;
}
.negative {
	color: #DC0A0A;
}

table.stock {
	width: 100%;
}
.group_content {
	background-color: white;
}

.price {
	color: #405288;
}
.header {
	white-space: nowrap;
	background-color: #EEEEEE;
    color: black;
}
.small_text {
	font-size: 75%;
}
.even {
	background-color: #E6EFF7;
}
.odd {
	background-color: white;
}
a {
	color: #405288;
    text-decoration: none;
}

.subject {
	font-size: 100%;
	padding: 10px 5px 10px 15px;
	white-space: nowrap;
}
.name {	
	font-weight: bold;
}
.market_value .value {
	font-weight: bold;	
}
.subtext {
	font-size: 75%;
}
.total {
	border-top: 1px solid #A9B0B8;	
}
.market_value {
	width: 50%;
	display: inline-block;
	white-space: nowrap;
}

.port_summary .label {
	width: 75%;
	display: inline-block;
}
h2 {	
	font-weight: bold;	
}
.port_summary .summary .title {
	padding: 5px 20px 5px 10px;
	border-bottom: 1px solid #2C435E;
	/*background: url("http://www.jimming.com/money/res/iPhoneArrow.png") no-repeat scroll right center transparent;*/
	margin-bottom: 3px;
	background: -moz-linear-gradient(center top , #B0BCCC, #6D84A2) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(#B0BCCC), to(#6D84A2));
	color: white;	/* HTN need to remove other color */
	-moz-border-radius: 8px 8px 0 0;
	-webkit-border-radius: 8px 8px 0 0;
}

.port_summary[port_id="total"] .summary .title {
	background: -moz-linear-gradient(center top , #89A0BE, #4A6C9B) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(#B0BCCC), to(#4A6C9B));
}

.port_summary .value, .info {
	text-align: right;
}

.symbol {
	text-align: left !important;
}
.summary .content .value {
	font-weight: bold;
	padding: 0 30px 0 10px;
}
.summary .title {
	display: block;
	padding-right: 30px;
}
.summary .title .market-value {
	float: right;
}
.summary .content td {
	padding: 0;
}
.port_summary td {
	padding: 8px 0;
}
.label {
	white-space: nowrap;;
}

.loading {
	padding-left: 5px;
}
#settingBtn {
	right: 50px;	
}
#refresh_quotes {
	line-height: 16px;
	height: 16px;
	padding: 7px 7px;
} 
#settingBtn {
	line-height: 22px;
	height: 22px;
	padding: 4px 4px;
}
.edit_view {
	background-color: white;
}
.edit_view img {
	padding: 0 8px;
}
.edit_view td {
	border-bottom: 1px solid #A9B0B8;
	padding: 8px 3px;
	/*height: 23px;
    line-height: 23px;*/
}
/*
.edit_list input {
	border: 1px solid #A9B0B8;
	padding: 0;
}

.edit_list .shares {
	width: 60px;	
}
.edit_list .note {
	width: 100px;	
}
*/

.edit_view input {
	padding-left: 1px !important;
	padding-right: 1px !important;
	padding-top: 3px; 
	padding-bottom: 3px;
	width: 100%;
	border: 1px solid gray;
	font-weight: normal;
}
#edit_port2 li img {
	margin-left: 10px;
	margin-right: 10px;
}
.edit_view .symbol {
	font-weight: bolder;
}
.edit_value {
	padding-top: 5px;
	text-align: right;
}
.edit_value .buy {
	width: 32%;
}
.edit_value .shares {
	width: 25%;
}
.edit_view .edit_value td {
	border-width: 0;
	padding: 0 3px 0 0;
}
.edit_view .edit_value td:last-child {
	padding-right: 0;
}
.edit_view .symbols {
	padding: 5px 10px;
}
table.buttons td {
	width: 50%;
	padding: 5px 5px 5px 0;
}
table.buttons td:last-child {
	padding-right: 0;
	padding-left: 5px;
}
.arrow {
	background: url("http://www.jimming.com/money/res/arrow.png") no-repeat scroll 100% 50% transparent;
}

.fade {
	color: gray;
	font-weight: normal;
}
.stock_info_detail td.value {
	text-align: right;
}
.stock_info_summary td:last-child {	
	border-right-style: none;
}

.stock_info_summary {
	background-color: #FFBBBB;
}

.news_item div {
	color: #405288;
}

.has_margin {
	margin: 5px;
}
.round_block td{
	padding: 2px 0px;
	text-align: left;
}
.round_block {
	margin-bottom: 5px;
	position: relative;
}

.round_block .block:first-child {
	-moz-border-radius: 8px 8px 0 0;
	-webkit-border-radius: 8px 8px 0 0;
	border-top-style: solid;
}
.round_block .header {		
	padding: 5px 8px;
}
.round_block .round_header .sub_header td.first {
	-moz-border-radius: 0 0 0 5px;
	-webkit-border-radius: 0 0 0 5px;
}
.round_block .title {
	font-weight: bolder;
}
.round_block .round_header .sub_header td.last {
	-moz-border-radius: 0 0 5px 0;
	-webkit-border-radius: 0 0 5px 0;
}

.round_block .stock_info_summary {
	padding-bottom: 5px;	/* so we can support the shadow box */
}
.round_block .round_header .sub_header td {
	-webkit-box-shadow: 0 3px 3px #aaa;
	-moz-box-shadow: 0 3px 3px #aaa;
	box-shadow: 0 3px 3px #aaa;
	border-right: 2px solid black;
	padding: 4px 5px;
	width: 50%;
}
.round_block .round_header .sub_header td.last{	
	border-right: 0 solid black;
}

.round_block .block {
	border-top: 1px solid #717f8d;
	/*border-bottom: 1px none #7f8b98;*/
	border-left: 1px solid #6d7e91;
	border-right: 1px solid #6d7e91;	
	background-color: white;
}
.round_block .block:last-child,
.round_block .last_block {
	-moz-border-radius: 0 0 8px 8px;
	-webkit-border-radius: 0 0 8px 8px;
	border-bottom: 1px solid #7f8b98;
}
.port_summary .round_block .block:last-child, 
.port_summary .round_block .last_block {
	padding: 1px 8px 3px;	/* TODO: left may be too big for other 8px for home block */
}
.dark_bg * , .color_bg *{
	color: white;
}
.header h2 {
	font-size: 110%;
	font-weight: bold;
	display: inline;
	margin-right: 8px;
}
.dark_bg .positive {
	background-color: #056005;
	color: white;
}

.dark_bg .negative {
	background-color: #C7351D;
	color: white;
}
.color_bg .dark_gray {
	background-color: gray;
	color: white;
}

.hide_extra_items .extra_item {
	display: none;
}

/* This is to adjust for the icon button at the toolbar */
.toolbar .button img {
	padding: 7px 12px;
}
/*
.port_summary .label, .port_summary .value {	
	padding: 0 10px 0 10px;
}
*/

#home .color_bg {
}
.round_block .round_header .sub_header td {
	border-right: 1px solid white;
}

#home .content .sub_header div {
	text-align: center;
}
.header .right-align {
	position: absolute;
    right: 8px;
}
.color_bg .positive {
	background-color: #0A791E !important;
}
/*
#home .round_header * {
	color: #405288;
}*/
.color_bg .negative {
	background-color: #DC0A0A !important;
}
#home .news_container {
	background-color: white;
}
.feature_blocks td {
	width: 50%;
	padding: 2px 4px 2px 0px;
}
.feature_blocks td.last {	
	padding: 2px 0px 2px 4px;
}
.feature_blocks .header .right-align {
    right: 4px;
}
.feature_blocks .round_block .header {	
	padding: 4px;
}
.feature_blocks .content {
	padding: 4px;
	text-align: right;
	background-color: #0A791E;
}


.port_summary[port_id="total"] .header,
.dark_bg {
	background: -webkit-gradient(linear, left top, left bottom, from(#6B799D), to(#253852));
	background: -moz-linear-gradient(top, #6B799D, #253852);
}
.lighter_bg.header {
	background: -webkit-gradient(linear, left top, left bottom, from(#8b99ad), to(#657892));
	background: -moz-linear-gradient(top, #8b99ad, #556882);
	/*
	background: -webkit-gradient(linear, left top, left bottom, from(#d4dbe0), to(#b4bec6));
	background: -moz-linear-gradient(top, #d4dbe0, #b4bec6);
	*/
	color: white;
}
.view_pf #summary_container, 
.view_pf .tabs {
	margin: 5px;
}
/** View Stock */
#view_stock .stock_info_detail,
#view_stock .news_container {
	border-top-style: none;
	padding-left: 0;
	padding-right: 0;
}
#view_stock .stock_info .block td {
	padding: 5px 8px;
	width: 25%;
}

#view_stock .stock_info * {
	font-weight: bolder;
}
#view_stock .header {
	font-size: 110%;
}

#editPortfolio .row {
	padding-top: 0;
	padding-bottom: 0;
}
#editPortfolio .delete_button {
	margin: 0 3px;
}
#view_pf {
	padding: 0px;
}

#view_pf .group_content td {
	border: 1px solid #D4E1ED;
	/*border-left-style: none;*/
}
#view_pf.total_pf .toolbar {
	display: none;
}

#logconsole{
	background-color: white;
	display: block;
	z-index: 10; 
	width: 100%;
	overflow:hidden;
}
.portrait .landscape_col {
	display: none;
}

.hide_cash .cash_balance,
.hide_gain .gain {
	display: none;
}
.time {
	color: #7C7C7D;
	font-size: 90%;
	padding-left: 5px;
}
.tip {
	text-align: center;
	color: #7C7C7D;
	font-size: 90%;
	padding: 5px 20px;
}

.quote_update {
	font-weight: normal !important;
}

.stocks th.header {
	border: 1px solid #D4E1ED;
	/*border-right: 1px solid #D4E1ED;
	border-bottom: 1px solid #D4E1ED;*/
}
.stocks th.right {	
	text-align: right;
}
.stocks th.double {
	text-align: center;
}
.stocks .entry .info {
	padding: 10px 3px;
	font-size: 90%;
	font-weight: bold;
	padding-right: 5px;
}
.stocks th {
	font-size: 90%;
	padding: 5px 3px;
}
.page {
	overflow: hidden;
}
.page {
	opacity: 1;
}
.page.fade{
	opacity: 0;
	-webkit-transition: opacity;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 300ms;
}
.page .page_title {
	text-align: center;
	font-size: 150%;
	padding: 30px 0 20px;
}
#view_stock .tabs {
	margin-bottom: 5px;
}
/* BUGBUG move to sdk.css*/
.tab_content {
	display: none;
}
.tab_content.active {
	display: block;
}
#view_stock, #view_stock table  {
	font-weight: bold;
}
#view_stock td,
#view_stock th {
	padding: 8px;
}
#view_stock .viewPositions .positions td,
#view_stock .viewPositions .positions th,
#view_stock .position td,
#view_stock .position th  {
	padding: 8px 4px;
}
#view_stock .viewPositions td:first-child,
#view_stock .viewPositions th:first-child,
#view_stock .position td:first-child  {
	padding-left: 8px;
}
#view_stock .position .icon a {
	height: 28px;
	width: 28px;
	display: inline-block;
}
.right_align {
	text-align: right !important;
}
.round_block tr.row:last-child td {
	-webkit-border-radius: 0 0 8px 8px;
}
#view_stock .viewChart .content {
	text-align: center;
}
#view_stock .viewChart img.chart {
	max-width: 512px;
}
#view_stock .chart_range {
	margin-top: 5px;
}
#view_stock.edit_mode .page_content {
	display: none;
}
#view_stock:not(.edit_mode) .position {
	display: none;
}
#home .tabs {
	margin-bottom: 5px;
}
#news {
	background-color: white;
}
.dialog .redbutton {
	margin-top: 10px;
}

.dialog input {
	margin-top: 5px;
	padding: 5px;
}

#editStock .new_stock .edit, 
#editStock .new_stock .multi {
	display: none;
}
#editStock .edit_stock .new, 
#editStock .edit_stock .multi {
	display: none;
}
#editStock .multi_lots .new,
#editStock .multi_lots .edit,
#editStock .multi_lots input {
	display: none;
}

/* Floating toolbar */
#header {
	position:relative;
	height:45px;
	display:-webkit-box;
	-webkit-box-orient:horizontal;
}
.float {
	z-index:98;	/* You may need to adjust this value */
}

.section_title {
	padding: 8px 0px;
}
.news_container .news_item {
	padding: 8px;
	border-bottom: 1px solid #999;
}

ul.news_container > li {
	font-size: 16px;
}