<div class="port_summary" port_id="{id}" onclick="">
	<div class="round_block" >
	    <div class="block header lighter_bg">
		   <h2 class="name">{name}<span class="market-value value right-align">{market_value}</span></h2> 
	    </div>
	    <div class="block loading last_block">Loading...</div>
	    <div class="block content hidden">
		   <table class="content row">
			  <tr class="cash_balance">
				 <td><div class="label">Cash Balance</div></td>
				 <td><div class="value info">{cash}</div></td>
			  </tr>
			  <tr class="gain">
				 <td><div class="label">Gain/Loss</div></td>
				 <td><div class="value info negative">{gain}</div></td>
			  </tr>
			  <tr class="value-delta">
				 <td><div class="label">Day Change</td>
				 <td><div class="value info">{value_delta}</div></td>
			  </tr>
		   </table>
	    </div>
	</div>
</div>