<table class="stocks even_odd" port_id="{port.id}">
	{?viewPerf}
	<tr class="header">
		<th class="header title">Symbol</th>
		<th class="header title info double" colspan="2">Last Trade</th>
		<th class="header title info double" colspan="2">Day's Change</th>
		<th class="header title info double landscape_col" colspan="2">Market Value & Gain</th>
	</tr>
	{/viewPerf}
	{?viewPosition}
	<tr class="header">
		<th class="header title">Symbol</th>
		<th class="header title info">Shares</th>
		<th class="header title info double" colspan="2">Gain/Loss</th>
		<th class="header title info">Value</th>
		<th class="header title info landscape_col">Position</th>
	</tr>
	{/viewPosition}
{#positions portId=id}
	<tr class="group_content entry" sym="{symbol}" lotId="{id}" index="{$idx}" onclick="">{~n}
		{#tags index=$idx}
			<td class="update_target info {.} {#getTagClass tag=. index=index/}" val-type="{.}">
				{#getTagValue tag=. index=index/}
			</td>
		{/tags}
	</tr>{~n}
{/positions}
</table>