<h2>Change Your Portfolio Settings</h2>            
<br><br><h2>Portfolio Summary Settings</h2> 
<fieldset class="home_group group">
    <div class="row">
	   <label>Show Gain/Loss</label>
	   <div class="toggle" name="hideHomeSumGain" onclick="" toggled="{showGain}"><span class="thumb"></span><span class="toggleOn">show</span><span class="toggleOff">hide</span></div>
    </div>
    <div class="row">
	   <label>Show Cash Balance</label>
	   <div class="toggle" name="hideHomeSumCash" onclick="" toggled="{showCash}"><span class="thumb"></span><span class="toggleOn">show</span><span class="toggleOff">hide</span></div>
    </div>
    <!--
    <div class="row hidden">
	   <label>Auto refresh every 30 seconds </label>
	   <div class="toggle" name="autoRefreshInterval" onclick="" toggled="false"><span class="thumb"></span><span class="toggleOn">auto</span><span class="toggleOff">off</span></div>
    </div>
    <div class="row hidden">
	   <label>Show Day\'s Value Change</label>
	   <div class="toggle" name="hideHomeSumValueChange" onclick="" toggled="true"><span class="thumb"></span><span class="toggleOn">show</span><span class="toggleOff">hide</span></div>
    </div>
    <div class="row hidden">
	   <label>Show News Headlines</label>
	   <div class="toggle" name="hideHomeTopNews" onclick="" toggled="true"><span class="thumb"></span><span class="toggleOn">show</span><span class="toggleOff">hide</span></div>
    </div>
    <div class="row hidden">
	   <label>Show Movers & Shakers</label>
	   <div class="toggle" name="hideHomeMovers" onclick="" toggled="true"><span class="thumb"></span><span class="toggleOn">show</span><span class="toggleOff">hide</span></div>
    </div>
    -->
</fieldset>
<br><br><h2>Combine positions of same stock</h2> 
<fieldset class="group">
	<div class="row">
		<label>Combine positions</label>
		<div class="toggle" name="expandPositions" onclick="" toggled="{expandPositions}"><span class="thumb"></span><span class="toggleOn">yes</span><span class="toggleOff">no</span></div>
	 </div>
</fieldset>  