
.black .dark_bg {
	background: -webkit-gradient(linear, left top, left bottom, from(#6F6F6F), to(#000));
	background: -moz-linear-gradient(top, #6F6F6F, #000);
	border-color: #0E0E0E #4E4E4E #6F6F6F;
}
.black .lighter_bg {
	background: -moz-linear-gradient(center top , #8F8F8F, #505050) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(#8F8F8F), to(#505050));
	color: white;
	border-color: #3E3E3E #4E4E4E #8F8F8F;
}
