<div data-role="popup" id="AddPort" data-theme="a" class="ui-corner-all">
    <form>
        <div>
            <h3>Add a new portfolio</h3>
            <label for="un" class="ui-hidden-accessible">Portfolio name:</label>
            <input type="text" name="name" class="name" value="" placeholder="Name" data-theme="a">
            <a data-action="AddPort" href="#" data-rel="back" class="ui-btn ui-corner-all ui-btn-a">Save</a>
            <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Cancel</a>
        </div>
    </form>
</div>