<div class="my_portfolios" {^myPorts}hidden{/myPorts}>
    {#allPorts}
    <div class="heading">{@formatField field="marketValue" longVal="true" /}</div>
    <div>Day's Change: <span class="change {@gte key=valueDelta value=0}positive{:else}negative{/gte}">{valueDelta} ({valueDeltaPercent}%)</span></div>
    <div>Total Gain: <span class="change {@gte key=gain value=0}positive{:else}negative{/gte}">{gain} ({gainPercent}%)</span></div>
    <div>Cash balance: ${cash}</div>
    {/allPorts}

</div>

<div class="earnings" {^earnings}hidden{/earnings}>
    <h3>Upcoming Earnings</h3>
    <div>
        {#earnings}
        <div>{symbol} - <span class="date">{@formatEarningDate dateStr="earningsDate" dateObj="earningsDateObj" /}</span></div>
        {/earnings}
    </div>
</div>

<div class="my_stocks" {^myStocks}hidden{/myStocks}>
    <h3>Watchlist</h3>
    <div class="fixed-column-container">
        <table class="draw-border">
            <thead>
                <tr>
                    <th class="headcol">Symbol</th>
                    <th>Price</th>
                    <th colspan="2">Day's Change</th>
                </tr>
            </thead>
            <tbody>
            {#myStocks}
                <tr class="" data-symbol="{symbol}" data-action="viewStock">
                    <td class="symbol headcol">{@if cond="'{symbol}'.length > 15 && '{quote.name}'"}{quote.name}{:else}{symbol}{/if}</td>
                    <td class="price">{quote.price}</td>
                    <td class="change {@gte key=quote.change value=0}positive{:else}negative{/gte}">{quote.change}</td>
                    <td class="change {@gte key=quote.change value=0}positive{:else}negative{/gte}">{quote.percent-change}%</td>

                </tr>
            {/myStocks}
            </tbody>
        </table>
    </div>
</div>

<div class="headlines" {^headlines}hidden{/headlines}>
	<h3>Headlines</h3>
	<ul data-role="listview">
	{#headlines}
		<li><a href="{link}" target="_blank">{title}</a></li>
	{/headlines}
	</ul>
</div>

