<div class="my_portfolios" {^myPorts}hidden{/myPorts}>
    {#allPorts}
    <div class="heading">{@formatField field="marketValue" longVal="true" /}</div>
    <div>Day's Change: <span class="change {@gte key=valueDelta value=0}positive{:else}negative{/gte}">{valueDelta} ({valueDeltaPercent}%)</span></div>
    <div>Total Gain: <span class="change {@gte key=gain value=0}positive{:else}negative{/gte}">{gain} ({gainPercent}%)</span></div>
    <div>Cash balance: ${cash}</div>
    {/allPorts}

</div>

<div class="earnings" {^earnings}hidden{/earnings}>
    <h3>Upcoming Earnings</h3>
    <div>
        {#earnings}
        <div>{symbol} - <span class="date">{@formatEarningDate dateStr="earningsDate" dateObj="earningsDateObj" /}</span></div>
        {/earnings}
    </div>
</div>

<div class="my_stocks summary-list-container">
    {#myStocks}
    {> QuoteSumItem  /}
    {/myStocks}
</div>

{>News topNews=1/}

