<div id="footer" data-role="footer" data-position="fixed" data-tap-toggle="false" data-theme="b">
    <a href="#Dashboard" class="ui-btn ui-btn-inline ui-icon-home ui-btn-icon-top">Home</a>
    <a href="#" class="ui-btn ui-btn-inline ui-icon-bullets ui-btn-icon-top" data-action="viewNews">News</a>
    <a href="#" class="ui-btn ui-btn-inline ui-icon-shop ui-btn-icon-top" data-action="viewPorts">Portfolios</a>
    <a href="#" class="ui-btn ui-btn-inline ui-icon-heart ui-btn-icon-top" data-action="viewMarket">Market</a>
    <a href="#" class="ui-btn ui-btn-inline ui-icon-refresh ui-btn-icon-top" data-action="refresh">Refresh</a>
</div>