<div data-role="popup" id="Login" data-theme="a" class="ui-corner-all">
    <form>
        <div class="login container">
            <h3>Log in</h3>
            <input type="text" name="user" class="un" value="" placeholder="Username" data-theme="a">
            <input type="password" name="pass" class="pw" value="" placeholder="Password" data-theme="a">
            <label for="remember">Remember me</label>
            <input type="checkbox" name="remember" id="remember">
            <button type="submit" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check">Log in</button>
            <a href="" data-rel="back" data-action="showSignup">Create a account</button>
        </div>
    </form>
</div>