<div data-role="panel" id="nav-panel-{pageId}" class="nav-panel {?authenticated}authed{/authenticated}" data-theme="b" data-position="left" data-display="push" data-position-fixed="true" data-animate="true" >
    <ul data-role="listview">
        <li><a data-rel="close" class="login" data-action="login">Log in</a></li>
        <li><a data-rel="close" class="login" data-action="showSignup">Register</a></li>
        <li><a href="#Dashboard" data-rel="close" class="ui-btn">Dashboard</a></li>
        <li><a data-rel="close" data-action="refresh">Refresh</a></li>
        <li><a data-rel="close" data-action="viewAddPort">Add a new portfolio</a></li>
        <li><a data-rel="close" data-action="viewAddTrans">Add a transaction</a></li>
        <li><a data-rel="close" data-action="viewWatchlist">Watchlist</a></li>
        <li><a data-rel="close" class="logout" data-action="logout">Log out</a></li>
    </ul>
</div>