<div class="headlines">
    <ul>
        {#headlines}
        <li class="news-item" data-action="viewNewsArticle" {?topNews}data-topnews="1"{/topNews} data-link="{link}" data-title="{title}" data-date="{pubDate}">
            <div class="title">{title|s}</div>
            <div class="source">{?publisher}<span class="publisher">{publisher|s}</span>{/publisher}<span class="pubDate">{@formatDate dateObj="date" timeElapsed=1 /}</span></div>
            {#description}
            <div class="description">{description}</div>
            {/description}
            {#symbol}
            <div class="inline-quotes">
                <span class="inline-quote">{symbol}
                        <span class="change {@changeClass type="quote" symbol=symbol /}">{@quoteField symbol=symbol field="percent-change" /}</span>
                </span>
                {#symbols}
                    <span class="inline-quote">{.}
                        <span class="change {@changeClass type="quote" symbol=. /}">{@quoteField symbol=. field="percent-change" /}</span>
                    </span>
                {/symbols}
            </div>
            {/symbol}
        </li>
        {/headlines}
    </ul>
</div>