<div class="port-sum summary-list-layout" data-id="{objectId}" data-action="viewPort">
    <div class="row">
        <span class="name left">{name}</span>
        <span class="mkt-val mid-col">{@formatField field="marketValue" longVal="true" /}</span>
        <span class="change-per right-col alt1 change-box {@positive val=valueDelta /}" data-action="toggleAlt">{valueDeltaPercent}%</span>
        <span class="change-per right-col alt2 change-box {@positive val=gainPercent /}" data-action="toggleAlt">{gainPercent}%</span>
    </div>
    <div class="row small">
        <span class="cash mid-col {@positive val=cash negativeOnly=1/}">{@if cond="{cash} != 0"}{@formatField field="cash" /} cash{/if}</span>
        <span class="change-val right-col alt1 {@positive val=valueDelta /}" data-action="toggleAlt">{valueDelta}</span>
        <span class="change-val right-col alt2 {@positive val=gain /}" data-action="toggleAlt">{gain}</span>

    </div>
    {?hasLabel}
    <div class="col-name alt1">Day's Change</div>
    <div class="col-name alt2">Gain/Loss</div>
    {/hasLabel}
</div>