
<form>
    <div class="signup container">
        <h3>Create a account</h3>
        <input type="text" name="fname" class="fn" value="" placeholder="First name" data-theme="a">
        <input type="text" name="user" class="ln" value="" placeholder="Last name" data-theme="a">
        <input type="text" name="user" class="un" value="" placeholder="Username" data-theme="a">
        <input type="password" name="pass" class="pw" value="" placeholder="Password" data-theme="a">
        <input type="password" name="pass" class="pw2" value="" placeholder="Confirm password" data-theme="a">
        <input type="text" name="email" class="em" value="" placeholder="Email address" data-theme="a">
        <button type="submit" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check">Create a account</button>
    </div>
</form>