
<div class="port_summary" data-id="{port.objectId}">
    <div class="large-title">{#lotsInfo}{@formatField field="marketValue" longVal=1/}{/lotsInfo}</div>

    <div class="item">
        <span class="label">Day's Gain</span>
        <span class="value info {@positive val=lotsInfo.valueDelta /}">{#lotsInfo}{@formatField field="valueDelta" longVal=1 /} ({valueDeltaPercent}%){/lotsInfo}</span>
    </div>
    <div class="item">
         <span class="label">Total Gain</span>
         <span class="value info {@positive val=lotsInfo.gain /}">{#lotsInfo}{@formatField field="gain" /} ({gainPercent}%){/lotsInfo}</span>
    </div>
    <div class="item">
        <span class="label">Cash</span>
        <span class="value info {@positive val=port.cash /}">{port.cash}</span>
    </div>
</div>

<div class="my_portfolios summary-list-container">
    {#lotsInfo}
    {#lots}
    {@if cond="{$idx} == 0"}
    {> CombinedLotItem  hasLabel=1 showPortName=showPortName /}
    {:else}
    {> CombinedLotItem showPortName=showPortName /}
    {/if}
    {/lots}
    {/lotsInfo}
</div>


{#port}
<a class="ui-btn" data-action="setPortCash" data-id="{objectId}">Update Cash</a>
{/port}
