{#quote}
<div class="quote-summary">
	<div class="title">
		<span class="h2 symbol">{name} ({symbol})</span>
	</div>

	<div class="quote">
        <div class="h1 price">{price}</div>
        <div class="changes">
            <span class="change">
                <span class="label">{^priceAH}Day's Change{:else}Today's Close{/priceAH}:</span>
                <span class="{@gt key=change value=0}positive{:else}negative{/gt}">{@formatField field="change"/} ({@formatField field="percent-change" /})</span>
            </span>
            {?priceAH}
            <span class="change changeAH">
                <span class="label">After Hour:</span>
                <span class="{@gt key=changeAH value=0}positive{:else}negative{/gt}">{@formatField field="changeAH" format="change"/} ({@formatField field="percent_changeAH" format="percent-change" /})</span>
            </span>
            {/priceAH}
        </div>
	</div>
	<div class="quote-details">
		<table class="draw-border full-width">
			<tr class="row">
				<td class="label">Prev Close</td>
				<td class="value">{prev_close}</td>
				<td class="label">Open</td>
				<td class="value">{open}</td>
			</tr>
            <tr class="row">
                <td class="label">Low</td>
                <td class="value">{day_lo}</td>
                <td class="label">High</td>
                <td class="value">{day_hi}</td>
            </tr>
            <tr class="row">
                <td class="label">52wk Low</td>
                <td class="value">{year_lo}</td>
                <td class="label">52w High</td>
                <td class="value">{year_hi}</td>
            </tr>
			<tr class="row">
				<td class="label">Mkt Cap</td>
				<td class="value">{MCap}</td>
				<td class="label">Volume</td>
				<td class="value">{vol}</td>
			</tr>
			<tr class="row">
				<td class="label">P/E</td>
				<td class="value">{?pe}{pe}{:else}N/A{/pe}</td>
				<td class="label">EPS</td>
				<td class="value">{?eps}{eps}{:else}N/A{/eps}</td>
			</tr>
			
			<tr class="row">
				<!--td>Beta</td>
				<td class="value ">{?beta}{beta}{:else}N/A{/beta}</td-->
				<td class="label">Dividend</td>
				<td class="value">{?dividend}{dividend} ({yield}%){:else}N/A{/dividend}</td>
                <td class="label">Earnings</td>
                <td class="value">{@formatDate dateObj="earningsDateObj" monDD=1 /}{?earningsDateEst} (Est.){/earningsDateEst}</td>
			</tr>
		</table>
	</div>
</div>
{/quote}

<div class="viewChart tab_content round_block" hidden>
	{#quote}
	<div class="block header dark_bg">
		<label class="name">{name}</label> <label class="symbol">({symbol})</label>
	</div>
	<div class="block content">
		<img class="chart" src="http://chart.finance.yahoo.com/w?s={symbol}&lang=en-US&region=US" width="90%">
	</div>
	{/quote}
	<ul class="chart_range tabs five_tabs">
		<li class="1d tab first" view="1d"><a>1d</a></li>
		<li class="5d tab active" view="5d"><a>5d</a></li>
		<li class="3m tab" view="3m"><a>3m</a></li>
		<li class="6m tab" view="6m"><a>6m</a></li>
		<li class="1y tab last" view="1y"><a>1y</a></li>
	</ul>
</div>


<div class="lots scroll-container">
    <table class="draw-border" portId="{port_id}">
        <tr class="row">
            <th class="left">Portfolio</td>
            <th class="left">Symbol</td>
            <th class="">Shares</td>
            <th class="">Paid</td>
            <th class="">Gain</td>
            <th class="">Value</td>
            <th class="">Date</td>
        </tr>
        {#portLotsInfo}
        {#portLots}
        {#lots portName=port.name}
        <tr class="row" data-id="{objectId}">
            <td class="left">{portName}</td>
            <td class="left">{symbol}</td>
            <td class="value shares">{qty}</td>
            <td class="value price">{price}</td>
            <td class="value price gain {@gt key=gain value=0}positive{:else}negative{/gt}">{gain}</td>
            <td class="value value market-value">${marketValue}</td>
            <td class="value">{@formatDate dateObj="transDate" shortDate="1" /}</td>
            <td class="value">
                <a href="#" data-action="sellLot" data-lot="{objectId}" class="ui-btn ui-btn-inline ui-corner-all ui-btn-a ui-icon-delete ui-btn-icon-notext">Delete</a>
                <a href="#" data-action="viewEditTrans" data-lot="{objectId}" class="ui-btn ui-btn-inline ui-corner-all ui-btn-a ui-icon-edit ui-btn-icon-notext">Edit</a>
            </td>
        </tr>
        {/lots}
        {/portLots}

        <tr class="row" data-id="{objectId}">
            <td class="value symbol" colspan="4">Total</td>
            <td class="value price gain {@gt key=gain value=0}positive{:else}negative{/gt}">{gain}</td>
            <td class="value value market-value">${marketValue}</td>
            <td class="value value" colspan="2"></td>
        </tr>
        {/portLotsInfo}
    </table>
</div>

{>News /}