{#quote}
<div class="quote-summary">
	<div class="title">
		<span class="h2 symbol">{name} ({symbol})</span>
	</div>

	<div class="quote">
        <div class="h1 price">{price}</div>
        {?marketValue}
        <div class="changes">
            <span class="value">
                <span class="label">Market Value:</span>
                <span class="">{@formatField field="marketValue"/}</span>
            </span>
        </div>
        {/marketValue}
        <div class="changes">
            <span class="change">
                <span class="label">{^priceAH}Day's Change{:else}Today's Close{/priceAH}:</span>
                <span class="{@positive val=change /}">{@formatField field="change"/} ({@formatField field="percent-change" /})</span>
            </span>
            {?priceAH}
            <span class="change changeAH">
                <span class="label">After Hour:</span>
                <span class="{@positive val=changeAH /}">{@formatField field="changeAH" format="change"/} ({@formatField field="percent_changeAH" format="percent-change" /})</span>
            </span>
            {/priceAH}
        </div>
        {?marketValue}
        <div class="changes">
            <span class="change">
                <span class="label">Day's Change:</span>
                <span class="{@positive val=valueDelta /}">{@formatField field="valueDelta"/} ({@formatField field="valueDeltaPercent" /})</span>
            </span>
            <span class="change changeAH">
                <span class="label">Gain:</span>
                <span class="{@positive val=gain /}">{@formatField field="gain"/} ({@formatField field="gainPercent" /})</span>
            </span>
        </div>
        {/marketValue}
	</div>
	<div class="quote-details">
		<table class="draw-border full-width">
			<tr class="row">
				<td class="label">Prev Close</td>
				<td class="value">{prev_close}</td>
				<td class="label">Open</td>
				<td class="value">{open}</td>
			</tr>
            <tr class="row">
                <td class="label">Low</td>
                <td class="value">{day_lo}</td>
                <td class="label">High</td>
                <td class="value">{day_hi}</td>
            </tr>
            <tr class="row">
                <td class="label">52wk Low</td>
                <td class="value">{year_lo}</td>
                <td class="label">52w High</td>
                <td class="value">{year_hi}</td>
            </tr>
			<tr class="row">
				<td class="label">Mkt Cap</td>
				<td class="value">{MCap}</td>
				<td class="label">Volume</td>
				<td class="value">{vol}</td>
			</tr>
			<tr class="row">
				<td class="label">P/E</td>
				<td class="value">{?pe}{pe}{:else}N/A{/pe}</td>
				<td class="label">EPS</td>
				<td class="value">{?eps}{eps}{:else}N/A{/eps}</td>
			</tr>
			
			<tr class="row">
				<!--td>Beta</td>
				<td class="value ">{?beta}{beta}{:else}N/A{/beta}</td-->
				<td class="label">Dividend</td>
				<td class="value">{?dividend}{dividend} ({yield}%){:else}N/A{/dividend}</td>
                <td class="label">Earnings</td>
                <td class="value">{@formatDate dateObj="earningsDateObj" monDD=1 /}{?earningsDateEst} (Est.){/earningsDateEst}</td>
			</tr>
		</table>
	</div>
</div>
{/quote}

{?chart}
<div class="viewChart tab_content round_block">
	{#quote}
	<div class="block header dark_bg">
		<label class="name">{name}</label> <label class="symbol">({symbol})</label>
	</div>
	<div class="block content">
		<img class="chart" src="http://chart.finance.yahoo.com/w?s={symbol}&lang=en-US&region=US" width="90%">
	</div>
	{/quote}
	<ul class="chart_range tabs five_tabs">
		<li class="1d tab first" view="1d"><a>1d</a></li>
		<li class="5d tab active" view="5d"><a>5d</a></li>
		<li class="3m tab" view="3m"><a>3m</a></li>
		<li class="6m tab" view="6m"><a>6m</a></li>
		<li class="1y tab last" view="1y"><a>1y</a></li>
	</ul>
</div>
{/chart}


<div class="my_portfolios summary-list-container">
    <a href="#" data-action="toggleOverlayBtns" class="ui-btn ui-btn-inline ui-corner-all ui-btn-a ui-icon-edit">Edit</a>
    {#lotsBySumbols curSymbol=quote.symbol}
    {@if cond="'{symbol}' != '{curSymbol}'"}
    <div class="headline">{#quote}{name} ({symbol}){:else}{symbol}{/quote}</div>
    {/if}
    {#lots}
    {@if cond="{$idx} == 0"}
    {> SummaryItem  hasLabel=1/}
    {:else}
    {> SummaryItem /}
    {/if}
    {/lots}
    {@gt key=count value=1}
    {> SummaryItem title="Total" /}
    {/gt}
    {/lotsBySumbols}

</div>

{>News /}