.hidden {
	display: none !important;
}
	
/* Page */
/* Buttons */
.flat_button {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color: white;
	border-top: 2px solid #717f8d;
	border-bottom: 2px solid #7f8b98;
	border-left: 2px solid #6d7e91;
	border-right: 2px solid #6d7e91;
	display: block;
	width: 100%;
}
button,
.flat_button label {
	font-height: 100%;
	font-weight: bold;
	text-align: center;
	display: block;
	color: #405288;	
	padding: 7px 5px;
}
.push_button {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background: -webkit-gradient(linear, left top, left bottom, from(#d4dbe0), to(#b4bec6));
	background: -moz-linear-gradient(top, #d4dbe0, #b4bec6);
	border-top: 2px solid #717f8d;
	border-bottom: 2px solid #7f8b98;
	border-left: 2px solid #6d7e91;
	border-right: 2px solid #6d7e91;
	font-size: 140%;
}
.push_button label {
	font-weight: bold;
	text-align: center;
	display: block;
	color: white;	
	padding: 10px 5px;
}
.red_button {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background: -webkit-gradient(linear, left top, left bottom, from(#DF898A), to(#A01417));
	background: -moz-linear-gradient(top, #DF898A, #A01417);
	border-top: 2px solid #717f8d;
	border-bottom: 2px solid #7f8b98;
	border-left: 2px solid #6d7e91;
	border-right: 2px solid #6d7e91;
	font-size: 140%;
}
.red_button label {
	font-weight: bold;
	text-align: center;
	display: block;
	color: white;	
	padding: 10px 5px;
}
/* @group Lists */
h1 + ul, h2 + ul, h3 + ul, h4 + ul, h5 + ul, h6 + ul {
    margin-top: 0;
}
ul {
    /*border: 1px solid #333333;*/
    padding: 0;
}
ul.rounded {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    /*
    -webkit-box-shadow: rgba(0,0,0,.3) 1px 1px 3px;
    -moz-box-shadow: rgba(0,0,0,.3) 1px 1px 3px;*/
}
ul.rounded li:first-child, ul.rounded li:first-child a {
    border-top: 0;
    -moz-border-radius: 8px 8px 0 0;
	-webkit-border-radius: 8px 8px 0 0;	
}
ul.rounded li:last-child, ul.rounded li:last-child a {
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
}
ul.round_block li {
	font-weight: bold;
	padding: 11px 5px 11px 10px;
}

.row {
	padding: 5px 8px;
	position: relative;	/* TODO: removing this will collapse the setting page.  Should try to see why */
}
fieldset.group .row {
	padding: 0px 8px;
}
.row {
	border-bottom: 1px solid #A9B0B8;
}
.row:last-child {
	border-bottom-style: none;
}
/* HTN changed for tabs TODO: do we need this?*/
ul.tabs li.row {
    color: #666;
    border-top: 1px solid #ddd;
    border-bottom: #A9B0B8;
    list-style-type: none;
    padding: 5px 8px;
    overflow: hidden;
}
.arrow, .arrow a.active , li.arrow{
    background-image: url("http://www.jimming.com/money/res/img/chevron.png");
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px; 
}
.forward, .forward a.active, li.forward {
    background-image: url("http://www.jimming.com/money/res/img/chevron_circle.png");
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 40px;
    pading-top: 8px;
    pading-bottom: 8px;
}

.panel fieldset.input div.row {
	padding-left: 100px;
	padding-right: 10px;
	border: 1px solid #A9B0B8;
	border-style: none none solid none;
	position: relative;
}
.panel fieldset.input div.row:last-child {
	border-bottom-style: none;
}
.panel fieldset div.row {
	min-height: 42px;
}
.panel fieldset.input div.row input {
	display: block;
	width: 100%;
	min-height: 42px;
	border-width: 0px;
	padding: 0 3px;
	-webkit-appearance: none;
}

.button {
	cursor: pointer;
}

/* These are for input groups */
.input_group .icon {
	width: 32px;
	vertical-align: top;
	padding: 13px 0px;
}
.input_group .icon a {
	height: 28px;
	width: 28px;
	display: inline-block;
}
.delete {
	background: url("http://www.jimming.com/money/res/remove_small.png") no-repeat scroll 0px 0px transparent;
}
.add_icon {
	background: url("http://www.jimming.com/money/res/add_small.png") no-repeat scroll 0px 0px transparent;
}
/* These are for Navigation tabs */
ul.tabs {
	display: block;
	white-space: nowrap;
	font-size: 0pt;
}
ul.tabs li.tab {
	display: inline-block;
	text-align: center;
	border-bottom-width: 0px;
	font-size: 12pt;
}
ul.tabs li.tab a {
	background: -webkit-gradient(linear, left top, left bottom, from(#d4dbe0), to(#b4bec6));
	background: -moz-linear-gradient(top, #d4dbe0, #b4bec6);
	background-color: #b4bec6;
	display: block;
	padding: 8px 0;	
	border-top: 2px solid #717f8d;
	border-bottom: 2px solid #7f8b98;
	border-left: 2px none #6d7e91;
	border-right: 2px solid #6d7e91;	
	color: #405D85;
	font-weight: bold;
	text-shadow: white 0 1px 0;
	min-height: 22px;
}
ul.tabs li.active a {
	background: -webkit-gradient(linear, left top, left bottom, from(#8b99ad), to(#657892));
	background: -moz-linear-gradient(top, #8b99ad, #657892);
	background-color: #657892;
	color: white;
	text-shadow: #4d5750 0 1px 0;
}
ul.tabs li.tab:first-child a {
    -webkit-border-radius: 8px 0 0 8px;
    -moz-border-radius: 8px 0 0 8px;
    border-left-style: solid;
}
ul.tabs li.tab:last-child a {
    -webkit-border-radius: 0 8px 8px 0;
    -moz-border-radius: 0 8px 8px 0;
}
ul.two_tabs li {
	width: 50%;
}
ul.three_tabs li {
	width: 33%;
}
ul.three_tabs li:last-child {
	width: 34%;
}
ul.four_tabs li {
	width: 25%;
}
ul.five_tabs li {
	width: 20%;
}
/* Rounded corner groups */
.rounded_block {	
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	background-color: white;
	border-top: 2px solid #717f8d;
	border-bottom: 2px solid #7f8b98;
	border-left: 2px solid #6d7e91;
	border-right: 2px solid #6d7e91;
	padding-bottom: 3px;
	margin-bottom: 5px;
}

/* Loading page */
#loading {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}
#loading .box {	
	text-align: center;
	padding-top: 34px;
	width: 100px;
	height: 100px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
    background-color: white;
    border: 2px solid gray;
}